@font-face {
    font-family:"Gotham-Bold";
    src:url("Gotham-Bold.woff2") format("woff2"),url("Gotham-Bold.woff") format("woff"),url("Gotham-Bold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
